config INGENIC_SFC_V2
	tristate "Ingenic series SFC driver v2"
	depends on MACH_XBURST2
	help
		SFC driver version v2.0 for Ingenic series SoCs

if INGENIC_SFC_V2

choice
	prompt "sfc Mode"
	help
	  Select sfc Mode

config SPI_STANDARD_MODE
	bool "standard spi mode"
	depends on INGENIC_SFC_V2
	help
	  Say Y here to enable spi standard mode

config SPI_QUAD_MODE
	bool "quad spi mode"
	depends on INGENIC_SFC_V2
	help
	  Say Y Here to enable spi QUAD MODE
endchoice

config SFC0
	tristate "Ingenic series SFC0"
	depends on INGENIC_SFC_V2
	help
		Say Y here to enable sfc 0

if SFC0
config SFC0_SPEED
    int "ingenic SFC speed in MHZ"
	range 20 200
	default 100
	depends on SFC0
	help
	    Select sfc speed.
		Examples:
			100 =>  50 MHZ
choice
	prompt "the SFC0 external memory (nor or nand)"
	help
	  Select the SFC external memory

config SFC0_V2_NORFLASH
	bool "nor"
	depends on SFC0
	select MTD_INGENIC_SFC_V2_NORFLASH

config SFC0_V2_NANDFLASH
	bool "nand"
	depends on SFC0
	select MTD_INGENIC_SFC_V2_NANDFLASH

endchoice

endif

config SFC1
	tristate "Ingenic series SFC1"
	depends on INGENIC_SFC_V2
	help
		Say Y here to enable sfc 1

if SFC1
config SFC1_SPEED
    int "ingenic SFC speed in MHZ"
	range 20 200
	default 100
	depends on SFC1
	help
	    Select sfc speed.
		Examples:
			100 =>  50 MHZ
choice
	prompt "the SFC1 external memory (nor or nand)"
	help
	  Select the SFC external memory

config SFC1_V2_NORFLASH
	bool "nor"
	depends on SFC1
	select MTD_INGENIC_SFC_V2_NORFLASH

config SFC1_V2_NANDFLASH
	bool "nand"
	depends on SFC1
	select MTD_INGENIC_SFC_V2_NANDFLASH

endchoice

endif



config MTD_INGENIC_SFC_V2_NORFLASH
	bool "Support ingenic sfc-nor"
	depends on INGENIC_SFC_V2

if MTD_INGENIC_SFC_V2_NORFLASH

choice
	prompt "Erase block size"
	help
	Select nor flash erase block size

config ERASE_SIZE_32K
	bool "sfc-nor 32k erase block"
	depends on MTD_INGENIC_SFC_V2_NORFLASH

config ERASE_SIZE_64K
	bool "sfc-nor 64k erase block"
	depends on MTD_INGENIC_SFC_V2_NORFLASH

endchoice

config JZ_SFC_NOR_RESET
	bool "Reset nor flash in the kernel"
	depends on MTD_INGENIC_SFC_V2_NORFLASH
	help
		Reset nor flash in the kernel
endif

config MTD_INGENIC_SFC_V2_NANDFLASH
	bool "Support ingenic sfc-nand"
	depends on INGENIC_SFC_V2
	select MTD_NAND


endif

