choice
	prompt "Board type"
	depends on PLATFORM_T40_ISVP
	default BOARD_SWAN

config BOARD_SWAN
       bool "Swan"
       depends on PLATFORM_T40_ISVP

endchoice

config BOARD_NAME
	string
	default "Swan" if BOARD_SWAN
